.contact_area{
  background: $dip;
  .tittle{
      h2{
        margin-top: 40px;
        color: $primary;

          &:after{
              background: $primary;
          }
      }
  }
  .contact_row{
    padding-top: 40px;
    .form-group{
      padding: 10px;
    }
  }
  .btn {
    border: linear;
    outline: 0;
    font-weight: 900;
    display: inline-block;
    padding: 10px 25px;
    color: white;

    background-color: transparent;
    text-align: center;
    cursor: pointer;
    z-index: 1;

  }
.btn:hover{
  background-color: $primary;
  color: black;
}
}
