
.project_area{
	overflow: hidden;
}
.project_item{
	position: relative;
	&:before{
		content: "";
		background: $primary;
		position: absolute;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		opacity: 0;
		// @include transition;
	}
	img{
		width: 100%;
	}
	.hover_text{
		position: absolute;
		left: 0px;
		width: 100%;
		text-align: center;
		bottom: 15px;
		// @include transition;
		h4{
			color: $dip;
			font-size: 24px;
			line-height: 30px;
			text-transform: uppercase;
			margin-bottom: 10px;
		}


	}
	&:hover{
		&:before{
			opacity: 1;
		}
		.hover_text{
			bottom: 35px;
			.main_btn{
				height: 100%;
				line-height: 48px;
				opacity: 1;
				margin-top: 22px;
			}
		}
	}
}
/* End Project Area css
============================================================================================ */

/* Estimate Area css
============================================================================================ */

/* End Estimate Area css
============================================================================================ */


/* Portfolio Details Area css
============================================================================================ */





/* End Portfolio Details Area css
============================================================================================ */
